<link rel="stylesheet" type="text/css" href="app/weatherModule/weatherView.css">

<!-- Page Container   -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container menu_items">
        <div class="cities_buttons_container pull-left">
            <h2 class="page_title">World Weather</h2>
            <div class="select_cities_buttons">
                <button ng-repeat="button in cityButtons track by $index"
                        class="btn btn-default navbar-btn select_city_button"
                        ng-click="cityButtonSearch(button.url, button.city, button.imgUrl)">{{button.city}}
                </button>
            </div>
        </div>
        <div class="search_city">
            <div class="search_city_input_container">
                <input class="search_city_input" type="text" placeholder="Search another location" ng-model="searchCityText"  ng-keydown="$event.keyCode === 13 && searchCity(searchCityText)">
                <i ng-model="searchCityText" ng-click="searchCity(searchCityText)" class="fa fa-search city_search_icon" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>

<div class='container-fluid'>
    <div class='row'>
        <div class='app_container'>
            <div class='weather_container'>
                <div class='ta_weather col-xs-12 col-sm-6 col-md-6 col-lg-6'>
                    <div class='box_title'>
                        <h1>{{weatherResults[0].tlv.location}}</h1>
                    </div>
                    <div class='box_temp'>
                        <h1>{{weatherResults[0].tlv.temp}}</h1>
                    </div>
                    <div class='box_icon'>
                        <h3>{{weatherResults[0].tlv.currentConditions}}</h3>
                    </div>
                    <div class='box_details'>
                        <h3>Wind: {{weatherResults[0].tlv.otherData[1]}}</h3>
                        <h3>{{weatherResults[0].tlv.otherData[2]}}</h3>
                    </div>
                </div>
                <div class='ldn_weather col-xs-12 col-sm-6 col-md-6 col-lg-6'>
                    <div class='box_title'>
                        <h1>{{weatherResults[1].ldn.location}}</h1>
                    </div>
                    <div class='box_temp'>
                        <h1>{{weatherResults[1].ldn.temp}}</h1>
                    </div>
                    <div class='box_icon'>
                        <h3>{{weatherResults[1].ldn.currentConditions}}</h3>
                    </div>
                    <div class='box_details'>
                        <h3>Wind: {{weatherResults[1].ldn.otherData[1]}}</h3>
                        <h3>{{weatherResults[1].ldn.otherData[2]}}</h3>
                    </div>
                </div>
            </div>

            <div class='weather_container'>
                <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'
                     ng-repeat="buttonCity in buttonWeather track by $index"
                     ng-class="{button_city : buttonCity}"
                     ng-hide="!buttonWeather.length"
                     ng-style="{'background-image':'url(/assets/img{{buttonCity.imgUrl}})'}">
                    <i class="fa fa-times remove_button" aria-hidden="true" ng-click="removeWeatherCity($index)"></i>
                    <div class='box_title'>
                        <h1>{{buttonCity.location}}</h1>
                    </div>
                    <div class='box_temp'>
                        <h1>{{buttonCity.temp}}</h1>
                    </div>
                    <div class='box_icon'>
                        <h3>{{buttonCity.currentConditions}}</h3>
                    </div>
                    <div class='box_details'>
                        <h3>Wind: {{buttonCity.otherData[1]}}</h3>
                        <h3>{{buttonCity.otherData[2]}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>