html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#f7f8f0;
}
.cities_buttons_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.select_cities_buttons{
    align-self: center;
}
.select_city_button{
    margin: 0 10px 0 10px;
    border-radius: 0!important;
    height: 40px;
}
.page_title{
    color: #ffffff;
}
.search_city_input,
.search_city_input::-webkit-input-placeholder {
    font-size: 20px;
    padding: 0 0 0 5px;
}
.search_city_input {
    width: 310px;
    height: 40px;
    margin: 0px 0px 10px 0px;
}
.city_search_icon{
    color: #ffffff;
    font-size: 2em;
    padding: 0 0 0 10px;
}
.city_search_icon:hover{
    cursor: pointer;
}

.weather_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}

.ta_weather,
.ldn_weather {
    width: 450px;
    height: 275px;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #808080;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    border: 1px solid black;
}

.box_title{
    width:100%;
    height:25%;
}
.box_temp{
    width:100%;
    height:25%;
}
.box_icon{
    width:50%;
    height:50%;
    float: left;
}
.box_details{
    width:50%;
    height:50%;
    float: right;
}

.ta_weather{
    background-image: url("/assets/img/telAvivImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.ldn_weather{
    background-image: url("/assets/img/londonImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.button_city{
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    border: 1px solid black;
    width: 450px;
    height: 275px;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #808080;
}

.remove_button{
    float: left;
}
.remove_button:hover{
    cursor: pointer;
}